:root {
	--stoked-red: #CD6F77;
	--stoked-yellow: #B7B767;
	--stoked-orange: #DFA465;
	--stoked-green: #6EC979;
	--stoked-cyan: #52BAB6;
	--stoked-blue: #5A9ED7;
	--stoked-purple: #9872C3;
	--stoked-pink: #DE79B2;
	--stoked-bg: #262A31;
	--stoked-fg: #B0ACBE;
	--stoked-comment: #546685;
	--stoked-highlight: #DE79B20D;
}